/* Dark Mode Styles */
body.dark-mode {
    background-color: #121212;
    color: #e0e0e0;
}

body.dark-mode .header,
body.dark-mode .paper,
body.dark-mode .nav,
body.dark-mode .search-container,
body.dark-mode .search-results-info {
    background-color: #1e1e1e;
    color: #e0e0e0;
}

body.dark-mode a {
    color: #66b2ff;
}

body.dark-mode footer {
    color: #aaa;
}

body.dark-mode #theme-toggle {
    background-color: #666;
}

body.dark-mode #theme-toggle:hover {
    background-color: #999;
}

body.dark-mode #search-input {
    background: #1c2128;
    color: #e6edf3;
    border-color: #444c56;
}

body.dark-mode .paper-title {
    color: #e0e0e0;
}

body.dark-mode .paper-info p,
body.dark-mode .paper-link,
body.dark-mode .paper-summary {
    color: #54626e;
}

body.dark-mode .paper-summary summary {
    color: #5f7183;
}

body.dark-mode .paper-divider {
    border-top-color: #333;
}

.notice {
    background-color: #1e1e1e;
    padding: 20px 30px;
    border-radius: 16px;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    color: #91e5ff;
    box-shadow: 0 4px 12px rgba(255, 255, 255, 0.1);
    animation: bounce 1s ease forwards;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    30% {
        transform: translateY(-15px);
    }
    50% {
        transform: translateY(0);
    }
    70% {
        transform: translateY(-8px);
    }
    100% {
        transform: translateY(0);
    }
}